@charset "UTF-8";

.carmanagement {
	text-align: center;
	
}

.carmanage_finish{
	display: none;
}


.content_box{    
	padding-top: 100px;
    margin-left: 370px;
    width: 1200px;
    font-family: 'Happiness-Sans-Regular';
}
.content_box_header{    
	border-bottom: 3px solid #404040;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}
.content_box_text{
	padding-top: 40px;
}
.table1 th{
	height: 40px;
	line-height: 40px !important;
    padding: 0px !important;
    text-align: center;
}
.table1 td{
	height: 105px;
	line-height: 105px !important;
    padding: 0px !important;
    text-align: center;
}
.btn{
	height: 30px;
	line-height: 30px!important;
	padding: 0px !important;
	width: 100px;
	font-size: 16px !important;
	margin: 0px;
	background-color: #5697A6;
	color: white !important;
}
