@charset "UTF-8";

.title{
	font-size:30px;
	font-weight: bold;
	padding: 1%;
}
.top_menu{
	display: flex;
	justify-content: space-between;
	border-top:1px solid #8e8e8e; 
	padding: 15px 30px;
	font-size:13px;
	font-weight: bold;
	background-color: #F2F2F2;	
}
.soldout{
	opacity: 30%;
	display: flex;
	padding: 15px;
}
.cart_items{
	display: flex;
	padding: 15px;
	justify-content: space-between;
}
.cart_img{
	width: 100px;
	height:100px;
	margin:0px 15px;
}
.pname{
	height: 50px;
	margin:0px 15px;
	align-content: center;
	font-family: 'Happiness-Sans-Bold';
	border-bottom:1px solid #8e8e8e;
	font-size: 25px;
}
.stock{
	justify-content:flex-end;
	font-size: 10px;
}
.product_info{
	width: 800px;
	margin:0px 30px;
}
.product_price{
	margin-right: 35px;
	font-size: 13px;
}
.date{
	font-size: 13px;
}
.pprice{
	width: 100px;
	height:100px;
	margin:0px 15px;
	padding-top: 30px;	
	font-weight: bold;
	font-size: 15px;
}
.mini_logo{
	width: 15px;
	height: 15px;
}
.mini_mark{
	color: brown;
	font-size: 12px;
}
.product_info_bottom{
	display:flex;
	justify-content:space-between;
	padding: 15px;
}
.now_pricebox{
	padding: 15px;
	background-color: #F2F2F2;	
	text-align: right;
}
.ad{
	font-size:13px;
	border: 1px solid #8e8e8e;
	background-color: white;
	padding: 10px;
}
.deletebox{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	padding: 15px;
}
.selectAll{
	margin: 0px 15px;
}
.cart_delete_btn{
	width: 100px;
	height:30px;
	background-color: #39cdec;
	color:white;
	border: none;
	margin-left: 5px;
	border-radius: 15px;
	font-size: 16px;
}
.extra_info_box{
	display: flex;
	justify-content: space-between;
	align-content:center;
	padding: 2%;
	font-size: 13px;
}
.pangpangbtn{
	width: 200px;
	height:100px;
	border: 1px solid #39cdec;
	background-color: white;
	border-radius: 15px;
	font-size: 16px;
	font-weight: bold;
}
.order_price{
	border: 1px solid #8e8e8e;
	padding: 15px 30px;
	font-size:16px;
	font-weight: bold;
	background-color: #F2F2F2;
	text-align: center;
	margin-bottom: 30px;
}
.orderbtnbox{
	text-align: center;
}