@charset "UTF-8";


.content_box{    
	padding-top: 100px;
    margin-left: 370px;
    width: 1200px;
    font-family: 'Happiness-Sans-Regular';
}
.content_box_header{    
	border-bottom: 3px solid #404040;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}

.btn{
	height: 30px;
	line-height: 30px!important;
	padding: 0px !important;
	width: 120px;
	font-size: 16px !important;
	margin: 0px;
	background-color: #5697A6;
	color: white !important;
}

input[type=text]{
	width: 80px;
}
input[type=datetime-local]{
	width: 200px;
}
.inputbox td, .topbox{
	padding: 1%;
}
select{
	border:none;
}
.Page{
	text-align: center;
}

.dropbtnbox{
	text-align: right;
}
.dropbtn{
	background-color: red !important;
	margin: 1% !important;
}