@charset "UTF-8";

/* 웹폰트 */
@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
} 
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
   font-family: 'Happiness-Sans-Regular';
   src:url("/pangpang/font/Happiness-Sans-Regular.woff");
}

/* 테마 색상 */
/* Color Theme Swatches in Hex */
.Responsive-design-on-devices-1-hex { color: #79DCF2; }
.Responsive-design-on-devices-2-hex { color: #5697A6; }
.Responsive-design-on-devices-3-hex { color: #F2F2F2; }
.Responsive-design-on-devices-4-hex { color: #404040; }
.Responsive-design-on-devices-5-hex { color: #0D0D0D; }

* {margin: 0px; padding: 0px; list-style: none; }
a{ color: white; text-decoration: none; }

/* 헤더 탑 영역 */ /* 헤더 탑 영역 */ /* 헤더 탑 영역 */ /* 헤더 탑 영역 */ /* 헤더 탑 영역 */
.header_top_box{
	width: 100%;
	height: 50px;
	background-color:  #5697A6;
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 100;
}
.comp_name{
	font-size: 20px;
	color: white;
	margin: 0px 10px 0px 50px;
	font-family: 'Happiness-Sans-Bold';
}
.inc{
	font-size: 10px;
	color: white;
	position: absolute;
	top: 22px;
	left: 170px;
}

.homeicon{
	color: white;
	margin-left: 70px;
	font-size: 20px;
}
.logouticon{
	font-size: 20px;
	color: white;
	position: absolute;
	right : 60px;
	top: 12px;
	
}
.usericon{
	font-size: 20px;
	color: white;
	position: absolute;
	right: 100px;
	top: 12px;
}
/* 헤더 탑 영역 */ /* 헤더 탑 영역 */ /* 헤더 탑 영역 */ /* 헤더 탑 영역 */ /* 헤더 탑 영역 */


/* 사이드바 영역 */ /* 사이드바 영역 */ /* 사이드바 영역 */ /* 사이드바 영역 */ /* 사이드바 영역 */ /* 사이드바 영역 */
.side_bar{
	width: 300px;
	/* height: 100%; */
	height: 1000px;
	background-color : #5697A6;
	position: fixed;
	left: 0px;
	transition : 1s;
}
.main_menu_box{
	padding-top: 150px;
}

.menu_title {
	margin: 0px;
	padding : 10px 0px 10px 70px;
	font-size: 16px;
	color: white;
	font-family: 'Happiness-Sans-Regular';
	background-color: transparent;
	border: none;
	width: 100%;
	text-align: left;
}
.menu_title:hover {
	background-color: #518f9f;
}
.menu_title_click{
	background-color: #518f9f !important;
}

.main_menu1 , .main_menu2 , .main_menu3 , .main_menu4 { 
	display: none;
}

.main_menu1 li , .main_menu2 li , .main_menu3 li , .main_menu4 li {
	color: white;
	padding-left: 70px;
	padding-top: 5px;
	font-size: 12px;
	font-family: 'Happiness-Sans-Regular';
	background-color: #518f9f;
}

.sidebar_onoff{
	position: absolute;
	top: 15%; left: 300px;
	border: none; 
	border-top-right-radius : 5px;
	border-bottom-right-radius : 5px;
	color: white;
	background-color: #5697A6;
	font-size: 20px;
	padding: 20px 5px;
}

.user_profile{
	width: 300px;
	position: fixed;
	bottom: 0px; left: 0px;
	z-index: 100;
	background-color: #3f707c;
	transition : 1s;
}

.onePerson{
	width: 100%;
    background-color: transparent;
    border: none;
    height: 60px;
}

.chating_box{
	background-color: #F2F2F2;
    width: 400px;
    height: 600px;
    position: fixed;
    left: 300px;
    bottom: 0px;
    display: none;
    padding: 0 10px;
    border: 1px solid rgb(64 64 64 / 40%);
}

/* 사이드바 영역 */ /* 사이드바 영역 */ /* 사이드바 영역 */ /* 사이드바 영역 */ /* 사이드바 영역 */ /* 사이드바 영역 */


/***************************************************************/
.connectlistbox{
	width: 100%;
    padding: 0 15px;
    border: 1px solid #eeeeee;
    background-color: #F2F2F2;
    border-bottom: 1px solid #404040;
    line-height: 60px;
	display: none;
}
.connectbox{
	display: flex;	
	align-items: center;
	margin-bottom: 10px;
}
.hpimg{
	width:30px;
	height:30px;
	background-color:white;
	border: 1px solid #e8e8e8;
	border-radius: 50%;
	margin-right: 10px;
}
.loginbox{
	display: flex;
    padding: 0 15px;
    height: 100%;
    line-height: 60px;
    background-color: #404040;
    color: white;
}

.loginbox_btn{
    border: none;
    background-color: transparent;
    width: 100%;
    height: 60px;
}

/* ------- 채팅 ------ */
.chat_content{
	height: 450px;
    border: 1px solid rgb(64 64 64 / 40%);
    padding: 20px;
    overflow-y: scroll;
    background-color: white;
}
.sendbox{ text-align: right;}
.receivebox{ text-align: left;}
.chat_btn{
	height: 90px;
    display: flex;
    padding: 10px 0px;
}
.chat_btn textarea {
	width: 80%;
    resize: none;
    padding: 10px;
    border: 1px solid rgb(64 64 64 / 40%);
}
.chat_btn button{
	width: 20%;
    border: none;
    margin-left: 10px;
    background-color: #5697A6;
    color: white;
    font-weight: bold;
}
.chat_info{	
	display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 15px;
}
.closebtn{
	background-color: transparent !important;
    color: #5697A6 !important;
    font-size: 19px!important;
    /* padding: 0px!important; */
    height: 60px;
    display: flex;
    padding-top: 5px!important;
    margin-right: 7px;
    justify-content: flex-end;
}
.btn:active, .btn:focus {
outline:none !important;
box-shadow:none !important;}
/* ---- 알림 모달 구역 --------*/
.msgbox{
	width: 138px;
    height: 60px;
    border: 1px solid #404040;
    background-color: white;
    position: fixed;
    left: 161px;
   /*  bottom: 0px; */
    bottom: -100px;
    z-index: 300;
    opacity: 0.8;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message_alert{
	padding-left: 10px;
}

